body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #ffe4ec;
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f06292;
  padding: 15px 40px;
  color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
  margin: 0;
  padding: 0;
}

.nav-links li {
  display: inline;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
  font-weight: bold;
}

.nav-links a:hover {
  color: #ffe4ec;
}

header {
  padding: 40px;
  background: #ff5c8d;
  color: #fff;
}

.products {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 40px;
  flex-wrap: wrap;
}

.product-card {
  background: #fff;
  border-radius: 15px;
  padding: 20px;
  width: 250px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  transition: transform 0.2s ease-in-out;
}

.product-card:hover {
  transform: scale(1.05);
}

.product-card img {
  width: 100%;
  border-radius: 10px;
}

button {
  padding: 10px 20px;
  margin-top: 15px;
  border: none;
  background: #ff5c8d;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
  font-size: 14px;
}

button:hover {
  background: #d81b60;
}
